body{
    background:url("/static/images/bg2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10rem;
  
}
.heading{
    font-family: fantasy;
    font-size: 3rem;
    
}
.desc{
    font-family: fantasy;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}
.logout{
   border: none;
   text-decoration: none;
   color: azure;
   font-family: fantasy;
   font-size: 2rem;
   background-color: rgba(0,0,0,0.5);
   width: 9rem;
   height: 3rem
}
.inventory{
    text-decoration: none;
    font-family: fantasy ;
    color: rgb(203, 9, 9);
    font-size: 1.5rem;
}