/* login */
body{
    background:url("/static/images/bg2.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.signup_page {
    width: 350px;
    border-radius: 5px;
    font-family: fantasy;
    color: #095227;
    margin: 20px;
  }
  
  .card-text-black {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
  }
  
  .container {
    height: 25rem;
    margin: 10px;
    background-color: rgba(145, 160, 168, 0.5);
    font-family: fantasy;
    
    
    
  }
  .signup {
    font-size: 40px;
    text-align: center;
    margin: 10%;
  
  }
  
  .sub_signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    

  }
  
  .form-control{
    background-color: #ffffff;
    height: 1.5rem;
    border: none;
    border-radius: .2rem;
  }
  
  .email {
    padding: 0.5rem;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .form-outline {
    display: flex;
    flex-direction: column;
  }
  .mx-1-mx-md-4 {
    justify-content: center;
    align-items: center;
  }
  
  .submit_button {
    background-color: #7f2d0cda;
    border: none;
    color: #ffffff;
    font-family: fantasy;
    padding: 15px 30px;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: .5rem;
    position: absolute;
    transform: translateX(+25%);
  }
  
button:hover{
    cursor: grab;
    background-color:#cb0f0fda;
       
}

#login-flex{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
} 
