<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin-View</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/adminview.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body style="background-color:#6096ff;">
    <div class="container">
      
    <nav class="navbar navbar-expand-lg active " >
        <div class="container-fluid" style="background-color:rgb(237, 199, 153);">
          
          {% load static %}
          <a class="navbar-brand" href="/"><img src="{% static 'images/sszklogo.png' %}" style="width: 150px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/adminview/" ><span class="nav_opt">VIEW</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/adminadd/" ><span class="nav_opt">ADD</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/adminupdate/" ><span class="nav_opt">UPDATE</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admindelete/" ><span class="nav_opt">DELETE</span></a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout/" ><span class="nav_opt">LOGOUT</span></a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
    </div>

    
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Amount per Kg/L</th>
                <th scope="col">Quantity</th>
                <th scope="col">Category</th>
                <th scope="col">Mode</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            {% for product in data %}
            <tbody>
              <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.category}}</td>
                <td>{{product.mode}}</td>
                <td>{{product.totalamount}}</td>
                <td>{{product.description}}</td>
                <td>{{product.time}}</td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
    </div>

    <div class="footer">
      {% load static %}
      <img src="{% static 'images/footer_refined.png' %}" style="width: 100%;"/>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>